html {
    height: 100%;
}

body {
    padding-top: 90px;
    padding-bottom: 50px;
    height: 100%;
}

footer {
    bottom: 0;
    height: 50px;
    text-align: center;
    padding: 5px;
}

main {
    height: 100%;
    overflow-y: auto;
    overflow-x: auto;
    padding: 10px;
}

article {
    height: 100%;
}

section {
    height: 100%;
}

.main-container {
    height: 100%;
    max-width: 1024px;
    margin: auto;
}